body {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(88deg, #1345b7, #05bdfd);
    /* width: 100%; */
}

.text-bold {
    font-weight: bold;
}

.text-lighter {
    font-weight: 800;
}

.text-lighter1 {
    font-weight: 300;
}

.font-color {
    color: #d8d9d9;
}

.sidebar {
    width: 256px;
    background-color: white;
    text-align: center;
    padding: 30px 34px;
}

.header-body-footer {
    width: calc(100% - 256px);
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin: 0;
}

h3 {
    font-size: 25px;
    margin: 0;
}

h4 {
    font-size: 18px;
    margin: 0;
}

h5 {
    font-size: 16px;
    margin: 0;
}

h6 {
    font-size: 15px;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

.textsmall-13px {
    font-size: 13px;
}

.textsmall-12px {
    font-size: 12px;
}

.textsmall-8px {
    font-size: 8px;
}

.textsmall-11px {
    font-size: 11px;
}

.profile-pic {
    border-radius: 100%;
    width: 70%;
}


/* .sidebar-icons {
    color: #8ba2b5;
    border: 1px solid #f3f5f6;
    background-color: #f3f5f6;
} */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.list-image-size {
    font-size: 20px;
}

.right-arrow-font-size {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.2);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: rgba(47, 103, 233, 0.5);
    text-decoration: none;
}

.sidebar-menu a:hover {
    background-color: transparent;
}

.header-left-side {
    width: 33%;
}

.header-right-side {
    width: 33%;
}

.header-profile-pic {
    border-radius: 100%;
}

.card1-blue {
    color: #00aeef;
    border: 1px solid rgba(0, 174, 239, 0.2);
    background-color: rgba(0, 174, 239, 0.2);
}

.card-icon-size {
    font-size: 23px;
}

.card1-green {
    color: #3bd949;
    border: 1px solid rgba(59, 217, 73, 0.2);
    background-color: rgba(59, 217, 73, 0.2);
}

.card1-red {
    color: #ff0017;
    border: 1px solid rgba(255, 0, 23, 0.2);
    background-color: rgba(255, 0, 23, 0.2);
}

.card1-yellow {
    color: #ffd500;
    border: 1px solid rgba(255, 213, 0, 0.2);
    background-color: rgba(255, 213, 0, 0.2);
}

.admin-apple-red {
    color: #ff0017;
    border: 1px solid rgba(255, 0, 23, 0.4);
    background-color: rgba(255, 0, 23, 0.4);
}

.admin-apple-green {
    color: #3bd949;
    border: 1px solid rgba(59, 217, 73, 0.4);
    background-color: rgba(59, 217, 73, 0.4);
}

.admin-apple-yellow {
    color: #ffd500;
    border: 1px solid rgba(255, 213, 0, 0.4);
    background-color: rgba(255, 213, 0, 0.4);
}

.admin-apple-blue {
    color: #9474ea;
    border: 1px solid rgba(148, 116, 234, 0.4);
    background-color: rgba(148, 116, 234, 0.4);
}

.time {
    color: #969696;
}

.progress {
    height: 7px;
}

.color-grey {
    color: #969696;
}

.padding1 {
    padding: 21px 0px 0px 47px;
}

.customer-pic {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.new {
    background-color: #00aeef;
}

.position-relative {
    position: relative;
}

.position-relative1 {
    position: relative;
}

.circle-area {
    position: absolute;
    left: 6px;
    top: -7px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: red;
}

.circle-area1 {
    position: absolute;
    left: 6px;
    top: -7px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: red;
}

.number {
    color: white;
    padding: 0px 0px 0px 6px;
}

.closebutton {
    color: red;
    font-size: 19px;
}

.ellipse {
    color: #969696;
}

.text-color1 {
    color: #969696;
}

.color1 {
    color: #3bd949;
}

.color2 {
    color: #ffffff;
}

.abc {
    background-color: #00aeef
}

.padding2 {
    padding: 0px 0px 0px 0px;
}

.color3 {
    color: #9474ea;
}

.button {
    background-color: #9474ea;
    margin-left: 150px;
    color: white;
}

.date {
    color: #969696;
}

.date-padding {
    padding-left: 83px;
}

.color4 {
    background-color: rgba(59, 217, 73, 0.3);
}

footer {
    background-color: #cceffc;
}

.footer p {
    color: #00aeef;
}

.publishbutton {
    background-color: #e9e9e9;
    color: #c4c2c2;
}

.approvedbutton {
    background-color: rgba(59, 217, 73, 0.5);
    color: #3bd949;
}

.pendingbutton {
    background-color: rgba(254, 203, 1, 0.5);
    color: #fecb01
}

.rejectedbutton {
    background-color: rgba(255, 0, 23, 0.5);
    color: #ff0017;
}

.deletebutton {
    background-color: white;
    color: #c4c2c2;
}

.editbutton {
    background-color: white;
    color: #c4c2c2;
}

.color6 {
    color: #ff0017;
}

.color7 {
    color: #ff0017;
}

button {
    border: none;
}

.padding3 {
    padding-top: 20px;
}

.icon-size {
    font-size: 20px;
}

.table td,
.table th {
    vertical-align: middle;
}

.big-checkbox {
    width: 16px;
    height: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.position1 {
    right: 0;
    top: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

tr:hover {
    background: rgb(247, 247, 247);
}

.publishbutton:hover {
    color: #00aeef;
    background-color: rgba(0, 174, 239, 0.4);
}

.deletebutton:hover {
    color: #ff0017;
    background-color: rgba(255, 0, 23, 0.4)
}

.editbutton:hover {
    color: #fecb01;
    background-color: rgba(254, 203, 1, 0.4)
}

.close-menu {
    display: none;
}

.width100 {
    width: 100%;
}

.sidebar-menu li {
    font-size: 13px;
    font-weight: bold;
}

.sidebar ul li {
    text-align: left;
    position: relative;
}

.sidebar-list li div::after {
    content: "chevron_right";
    font-family: 'Material Icons';
    position: absolute;
    right: 0px;
    top: 19px;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 23px;
    left: 0;
    position: absolute;
    top: 0;
    width: 23px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.container {
    width: 18%;
}


/* [aria-expanded="true"]>.js-rotate-if-collapsed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} */

.icon-color {
    font-size: 20px;
    color: #8ba2b5;
    background-color: #f3f5f6;
}

.badge-info {
    background-color: #00aeef;
}

.width-45 {
    width: 45px;
    font-size: 18px;
}

.rotated {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.world-map {
    width: 450px;
    height: 300px;
}

li a {
    display: inline-block;
}

.sidebar-list a[aria-expanded="true"] #chevron-right:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 767px) {
    .header {
        position: fixed;
        z-index: 100;
    }
    .content-section {
        padding: 70px 10px 20px 10px;
    }
    .sidebar {
        position: fixed;
        top: 50px;
        left: 0%;
        right: 0%;
        z-index: 20;
        width: 66%;
        overflow-y: auto;
        height: 100%;
    }
    .header-body-footer {
        width: 100%;
    }
    .header-right-side {
        width: 19%;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 17px;
    }
    h4 {
        font-size: 13px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .textsmall-13px {
        font-size: 11px;
    }
    .textsmall-12px {
        font-size: 11px;
    }
    .card-icon-size {
        font-size: 14px;
    }
    #graph {
        flex-direction: column;
    }
    .Score-Hello {
        display: none;
    }
    .customer-list-padding {
        padding: 0px 0px;
    }
    .table td,
    .table th {
        padding: 8px;
    }
    .deletebutton,
    .editbutton {
        padding: 0px 4px;
    }
    .button {
        margin-left: 0px;
    }
    .world-map {
        width: 300px;
        height: 250px
    }
    .schedule-reports {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .header {
        position: fixed;
        z-index: 100;
    }
    .content-section {
        padding: 75px 20px 20px 20px;
    }
    .sidebar {
        position: fixed;
        /* margin-left: -250px; */
        top: 50px;
        left: 0%;
        right: 0%;
        z-index: 20;
        width: 29%;
        overflow-y: auto;
        height: 100%;
    }
    .header-body-footer {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 13px;
    }
    p {
        font-size: 13px;
    }
    .textsmall-13px {
        font-size: 12px;
    }
    .textsmall-12px {
        font-size: 12px;
    }
    .card-icon-size {
        font-size: 15px;
    }
    #graph {
        flex-direction: column;
    }
    .Score-Hello {
        display: none;
    }
    .customer-list-padding {
        padding: 0px 0px;
    }
    .table td,
    .table th {
        padding: 8px;
    }
    .deletebutton,
    .editbutton {
        padding: 0px 4px;
    }
    .button {
        margin-left: 0px;
    }
    .world-map {
        width: 300px;
        height: 250px
    }
    .header-right-side {
        width: 25%;
    }
}